@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #1f2937;
}

::-webkit-scrollbar-thumb {
  background-color: #f2f1ee;
  border-radius: 2px;

  height: 3px;
  width: 3px;
}

.type-cursor {
  display: none !important;
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

@media (max-width: 991px) {
  .swiper-pagination {
    position: absolute !important;
    /* padding-top: 1rem !important; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 1rem !important; */
  }
}
@media (prefers-color-scheme: light) {
  .active-bullet {
    opacity: 1 !important;
    background: #da2626 !important;
  }
}

@media (prefers-color-scheme: dark) {
  .active-bullet {
    opacity: 1 !important;
    background: #f3e7e7 !important;
  }
}
